.config/vesktop/
.config/Thunar/
.config/xfce4/
.config/Code/
.config/astro/
.config/autostart/
.config/Code/
.config/'Code - Insiders'/
.config/compiz/
.config/dconf/
.config/fontconfig/
.config/GIMP/
.config/go/
.config/gtk-3.0/
.config/keepassxc/
.config/mimeapps.list
.config/mpv/
.config/pulse/
.config/QtProject.conf
.config/safeeyes/
.config/servo/
.config/swhkd/
.config/ueberzugpp/
.config/vesktop/
.config/VSCodium/

.local/share/
.local/state/
.local/bin/

Desktop/Los4Automaticos/
Desktop/screenshots/
Desktop/pics/
Desktop/vids/
Desktop/Fotos/
Desktop/wallpapers/


.idlerc/
.vscode/
.vscode-insiders/
.vscode-oss/
.var/
music/
go/
penv/
.rustup/
.cargo/
.cache/
.pki/
.nvm/
.npm/
.ssh/
.sndio/
.dotnet/
.emerald/
.librewolf/
.mozilla/
.w3m/

.bashrc
.bash_logout
.bash_history

.wget-hsts
.fehbg
.xinitrc
.xrdb
.xsession-errors
.sudo_as_admin_successful
ly-session.log
.gtkrc-2.0
.profile
.Xauthority
.selected_editor

