#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    address: "127.0.0.1:6600",
    password: None,
    theme: Some("Matugen"),
    cache_dir: None,
    on_song_change: ["pkill","-40","dwmblocks"],
    volume_step: 1,
    max_fps: 144,
    scrolloff: 0,
    wrap_navigation: false,
    enable_mouse: true,
    enable_config_hot_reload: true,
    status_update_interval_ms: 1000,
    rewind_to_start_sec: None,
    keep_state_on_song_change: true,
    reflect_changes_to_playlist: false,
    select_current_song_on_change: false,
    ignore_leading_the: false,
    browser_song_sort: [Disc, Track, Artist, Title],
    directories_sort: SortFormat(group_by_type: true, reverse: false),
    album_art: (
        method: Kitty,
        max_size_px: (width: 1200, height: 1200),
        disabled_protocols: ["http://", "https://"],
        vertical_align: Center,
        horizontal_align: Center,
    ),
    cava: (
    	framerate: 144,
	autosens: true,
	sensitivity: 100,
	lower_cutoff_freq: 20,
	higher_cutoff_freq: 20000,
	input: (
		method: Pipewire,
		source: "auto",
		sample_rate: 48000,
		channels: 2,
		cample_bits: 16,
	),
	smoothing: (
		noise_reduction: 77,
		monstercat: false,
		waves: false,
	),
	eq: [1,1,1,1,1]
    ),
    keybinds: (
        global: {
            ":":       CommandMode,
            ",":       VolumeDown,
            "s":       Stop,
            ".":       VolumeUp,
            "<Tab>":   NextTab,
            "<S-Tab>": PreviousTab,
            "1":       SwitchToTab("Queue"),
            "2":       SwitchToTab("Directories"),
            "3":       SwitchToTab("Artists"),
            "4":       SwitchToTab("Search"),
            "q":       Quit,
            ">":       NextTrack,
            "p":       TogglePause,
            "<":       PreviousTrack,
            "f":       SeekForward,
            "z":       ToggleRepeat,
            "x":       ToggleRandom,
            "c":       ToggleConsume,
            "v":       ToggleSingle,
            "b":       SeekBack,
            "~":       ShowHelp,
            "u":       Update,
            "U":       Rescan,
            "I":       ShowCurrentSongInfo,
            "O":       ShowOutputs,
            "P":       ShowDecoders,
            "R":       AddRandom,
	    "<C-p>":   Partition(),
        },
        navigation: {
            "k":         Up,
            "j":         Down,
            "h":         Left,
            "l":         Right,
            "<Up>":      Up,
            "<Down>":    Down,
            "<Left>":    Left,
            "<Right>":   Right,
            "<C-k>":     PaneUp,
            "<C-j>":     PaneDown,
            "<C-h>":     PaneLeft,
            "<C-l>":     PaneRight,
            "<C-u>":     UpHalf,
            "N":         PreviousResult,
            "a":         Add,
            "A":         AddAll,
            "r":         Rename,
            "n":         NextResult,
            "g":         Top,
            "<Space>":   Select,
            "<C-Space>": InvertSelection,
            "G":         Bottom,
            "<CR>":      Confirm,
            "i":         FocusInput,
            "J":         MoveDown,
            "<C-d>":     DownHalf,
            "/":         EnterSearch,
            "<C-c>":     Close,
            "<Esc>":     Close,
            "K":         MoveUp,
            "D":         Delete,
            "B":         ShowInfo,
            "<C-z>":     ContextMenu(),
	    "<C-a>":     AddOptions(kind: Modal([
	    		 	("After the current song", (all: false, autoplay: None, position: AfterCurrentSong)),
	    		 	("After the current song and play", (all: false, autoplay: First, position: AfterCurrentSong)),
				("Replace the current song", (all: false, autoplay: None, position: Replace)),
				("Replace the current song and play", (all: false, autoplay: First, position: Replace)),
				("Start of queue",(all:false, autoplay: None, position: StartOfQueue)),
				("Start of queue and play ",(all:false, autoplay: First, position: StartOfQueue)),
				("End of queue", (all: false, autoplay: None, position: EndOfQueue)),
				("End of queue and play", (all: false, autoplay: First, position: EndOfQueue)),
				("Before the current song",(all: false, autoplay: None, position: BeforeCurrentSong)),
				("Before the current song and play",(all: false, autoplay: First, position: BeforeCurrentSong)),

			 ])),
        },
        queue: {
            "D":       DeleteAll,
            "<CR>":    Play,
            "<C-s>":   Save,
            "a":       AddToPlaylist,
            "d":       Delete,
            "C":       JumpToCurrent,
            "X":       Shuffle,
        },
    ),
    search: (
        case_sensitive: false,
        ignore_diacritics: false,
        mode: Contains,
        tags: [
            (value: "any",         label: "Any Tag"),
            (value: "artist",      label: "Artist"),
            (value: "album",       label: "Album"),
            (value: "albumartist", label: "Album Artist"),
            (value: "title",       label: "Title"),
            (value: "filename",    label: "Filename"),
            (value: "genre",       label: "Genre"),
        ],
    ),
    artists: (
        album_display_mode: SplitByDate,
        album_sort_by: Date,
        album_date_tags: [Date],
    ),
    tabs: [
    (
        name: "Queue",
	pane: Split(
		direction: Horizontal,
		panes: [(size: "60%", pane: Pane(Queue)),(size: "40%", pane: Pane(AlbumArt))],
	),
    ),
    (
        name: "Directories",
        pane: Pane(Directories),
    ),
    (
        name: "Artists",
        pane: Pane(Artists),
    ),
    (
        name: "Search",
        pane: Pane(Search),
    ),
]
)
